{% extends "layout.html" %}
{% block body %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('/static/assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>About Us</h1>
                    <span class="subheading">We believe in the power of technology to transform the way businesses connect with their customers.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>With our innovative tools and strategies, we help our clients achieve their marketing goals and grow their businesses. Visibility Bots is a technology company that specializes in machine learning (ML), deep learning (DL), and data science to build business applications. With our expertise in ML, DL, and data science, we help businesses unlock the power of their data to gain insights and make better decisions. We also have a dedicated team that works on Internet of Things (IoT) projects to help businesses leverage the latest advancements in IoT technology.</p>
                <p>Our team of experienced professionals is committed to delivering high-quality solutions that meet the unique needs of our clients, helping them achieve their business goals and stay ahead of the competition. We have worked on 50+ ML/DL based projects for business solutions, including generative chatbots, voicebots, callbots, person detection, recognition, and MediaPipe projects. We have a strong grip on NLP and computer vision-based projects and are always ready to take on new challenges in these domains.</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}